﻿/* ref: http://codepen.io/ebellempire/pen/rnvEK*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    background-color: #E8E8E8;
    color: #001C31;
    font-size: 14px;
}

a {
    color: #001C31;
    font-weight: bold;
    text-decoration: underline;
}

img {
    border: none;
    max-height: 100%;
    max-width: 100%;
}

input[type=checkbox] {
    cursor: pointer;
    left: -4px;
    opacity: 0;
    position: relative;
    top: 2px;
    z-index: 2;
}

input[type=checkbox]:checked ~ label:before {
    -khtml-box-shadow: 0 0 0 3px white inset;
    -moz-box-shadow: 0 0 0 3px white inset;
    -ms-box-shadow: 0 0 0 3px white inset;
    -o-box-shadow: 0 0 0 3px white inset;
    -webkit-box-shadow: 0 0 0 3px white inset;
    background-color: #69d69d;
    border-color: #41CB83;
    box-shadow: 0 0 0 3px white inset;
}

input[type=checkbox]:hover ~ label:before {
    -khtml-box-shadow: 0 0 0 5px white inset;
    -moz-box-shadow: 0 0 0 5px white inset;
    -ms-box-shadow: 0 0 0 5px white inset;
    -o-box-shadow: 0 0 0 5px white inset;
    -webkit-box-shadow: 0 0 0 5px white inset;
    background-color: #69d69d;
    border-color: #41CB83;
    box-shadow: 0 0 0 5px white inset;
}

input[type=checkbox] ~ label {
    display: inline-block;
    line-height: 20px;
    margin-left: -25px;
    padding-left: 25px;
    position: relative;
    z-index: 1;
}

input[type=checkbox] ~ label:before {
    -khtml-box-shadow: 0 0 0 10px white inset;
    -moz-border-radius: 100%;
    -moz-box-shadow: 0 0 0 10px white inset;
    -moz-transition: all 0.2s linear;
    -ms-border-radius: 100%;
    -ms-box-shadow: 0 0 0 10px white inset;
    -o-box-shadow: 0 0 0 10px white inset;
    -o-transition: all 0.2s linear;
    -webkit-border-radius: 100%;
    -webkit-box-shadow: 0 0 0 10px white inset;
    -webkit-transition: all 0.2s linear;
    background-color: #fff;
    border: 2px solid #E8E8E8;
    border-radius: 100%;
    box-shadow: 0 0 0 10px white inset;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
    width: 20px;
    z-index: 1;
}

@media \0screen\,screen\9 {
    input[type=checkbox] ~ label:before { content: none; }
}

input[type=checkbox] ~ label:hover:before {
    -khtml-box-shadow: 0 0 0 5px white inset;
    -moz-box-shadow: 0 0 0 5px white inset;
    -ms-box-shadow: 0 0 0 5px white inset;
    -o-box-shadow: 0 0 0 5px white inset;
    -webkit-box-shadow: 0 0 0 5px white inset;
    background-color: #69d69d;
    border-color: #41CB83;
    box-shadow: 0 0 0 5px white inset;
}

.button, .container .content input[type=submit] {
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #001C31;
    background-image: none;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}

.button.large, .container .content input.large[type=submit] { padding: 10px; }

.button:hover, .container .content input[type=submit]:hover { background-color: #003964; }

.bold { font-weight: bold; }

.container {
    -khtml-box-shadow: 0 1px 5px 0 dimgray;
    -moz-box-shadow: 0 1px 5px 0 dimgray;
    -ms-box-shadow: 0 1px 5px 0 dimgray;
    -o-box-shadow: 0 1px 5px 0 dimgray;
    -webkit-box-shadow: 0 1px 5px 0 dimgray;
    background-color: white;
    box-shadow: 0 1px 5px 0 dimgray;
    margin: 10px auto;
    max-width: 820px;
    padding: 0;
}

.container .header {
    display: block;
    width: 100%;
}

.container .header .logo {
    display: block;
    margin: 10px;
    max-width: 50%;
}

.container .header img { display: block; }

.container .header img.banner { width: 100%; }

.container .content {
    margin: auto;
    max-width: 574px;
    padding: 20px;
}

.container .content > *, .container .content > form > * { margin-top: 20px; }

.container .content > *:first-child, .container .content > form > *:first-child { margin-top: 0; }

.container .content > form { margin-top: 0; }

.container .content > .title {
    font-size: 20px;
    font-weight: bold;
}

.container .content > .subtitle { font-size: 16px; }

.container .content > .closeHeading {
    color: #424242;
    font-size: 18px;
    text-align: center;
}

.container .content .top_stories_heading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.container .content .article {
    border-bottom: 1px solid #D2D2D2;
    margin-top: 13px;
    padding: 5px 10px 16px 10px;
}

.container .content .article .link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

.container .competition_form .form_field {
    float: left;
    position: relative;
    width: 100%;
}

.container .competition_form .form_field label { font-weight: bold; }

.container .competition_form .form_field input, .container .competition_form .form_field select {
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    color: dimgray;
    padding: 5px 10px;
    width: 100%;
}

.container .competition_form .form_field input[value]:not([value=""]), .container .competition_form .form_field select[value]:not([value=""]) { border-color: #41CB83; }

.container .competition_form .form_field input.input-validation-error, .container .competition_form .form_field select.input-validation-error { border-color: #FF5548; }

.container .competition_form .form_field input:focus, .container .competition_form .form_field select:focus { border: none; }

.container .competition_form .form_field input:focus + .field-validation-error, .container .competition_form .form_field select:focus + .field-validation-error { display: none; }

.container .competition_form .form_field .field-validation-error {
    color: #FF5548;
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 1;
}

.container .competition_form .form_field.half, .container .competition_form .form_field.half {
    clear: none;
    float: left;
    width: 48%;
}

.container .competition_form .form_field.half.first { margin-right: 4%; }

.container .competition_form .form_field.dob { margin-bottom: 40px; }

.container .competition_form .form_field.dob > * {
    float: left;
    margin-left: 6%;
    width: 20%;
}

.container .competition_form .form_field.dob > *:first-child { margin-left: 0; }

.container .competition_form .form_field.dob label {
    margin-right: 2%;
    position: relative;
    top: 5px;
}

.container .competition_form .tac {
    clear: both;
    display: block;
    float: none;
    width: 100%;
}

.container .competition_form .social { margin-top: 40px; }

.container .competition_form .social .item {
    float: left;
    margin-right: 10px;
}

.container .competition_form .social .title {
    color: #003964;
    display: block;
}

.container .extra_entry ul.interests {
    float: left;
    margin-left: 10px;
    padding: 0;
    width: 100%;
}

.container .extra_entry ul.interests + * { clear: both; }

.container .extra_entry ul.interests, .container .extra_entry ul.interests li { list-style: none; }

.container .extra_entry ul.interests li {
    float: left;
    width: 50%;
}

.container .extra_entry ul.interests li label {
    display: inline-block;
    font-weight: normal;
    height: 30px;
}

.container .thank_you { font-size: 16px; }

#footer {
    background-color: #D9D9D9;
    display: block;
    padding: 15px 25px;
    text-align: center;
    width: 100%;
}

#footer a {
    display: inline-block;
    height: 20px;
    margin-left: 25px;
    vertical-align: middle;
}

#footer a:first-child { margin-left: 0; }

#footer a[class="logo 24"] { height: 30px; }

#footer a[class="logo 24 single"] {
    display: block;
    height: 30px;
    margin: 10px 0 10px 5px;
}

#footer a.netwerk24 { height: 25px; }

#footer a img { display: block; }

#footer label {
    border-left: 2px solid #000;
    color: #003964;
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    line-height: 53px;
    padding-left: 25px;
    position: relative;
    text-transform: uppercase;
    top: 4px;
}

#footer .partners {
    display: inline-block;
    height: 100%;
    margin-left: 25px;
    vertical-align: middle;
}

.article_item {
    display: block;
    min-height: 75px;
    position: relative;
}

.article_item img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 65px;
}

.article_item .article_content {
    display: inline-block;
    vertical-align: top;
    width: 450px;
}

.article_item .article_content .link {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 5px;
    text-decoration: none;
}

.article_item .article_content .link:hover { text-decoration: underline; }

.article_item .article_content .blurb {
    color: #424242;
    display: block;
    font-size: 13px;
    line-height: 18px;
}

.left, .middle, .right {
    display: inline-block;
    margin-top: 0 !important;
    vertical-align: top;
    width: 32%;
}

.checkbox {
    display: block;
    line-height: 24px;
}

@media (max-width: 820px) {
    .container {
        -khtml-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 750px) {
    #footer { text-align: left; }

    #footer .partners {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    #footer label {
        border: none;
        padding-left: 0;
        top: 12px;
    }

    #footer a { margin-top: 15px; }

    #footer a[class="logo 24"] {
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    #footer a img {
        display: block;
        margin: auto;
    }
}

@media (max-width: 620px) {
    .article_item img { display: none; }

    .article_item .article_content {
        display: block;
        padding: 10px;
        width: auto;
    }

    .left, .middle, .right {
        display: inline-block;
        margin-top: 0 !important;
        vertical-align: top;
        width: 49%;
    }
}

@media (max-width: 420px) {
    .container .competition_form .form_field.dob * {
        margin-left: 5%;
        width: 30%;
    }

    .container .competition_form .form_field.dob label {
        display: block;
        margin: 0 0 10px 0;
        width: 100%;
    }

    .container .competition_form .form_field.dob label + select { margin-left: 0; }

    .left, .middle, .right {
        display: block;
        margin-top: 0 !important;
        vertical-align: top;
        width: 100%;
    }

    .checkbox {
        display: block;
        margin-top: 0 !important;
        vertical-align: top;
        width: 100%;
    }
}

@media (max-width: 370px) {
    #footer .partners > * {
        display: block;
        margin-left: 0;
    }

    #footer label {
        height: auto;
        line-height: 40px;
    }
}

@media (max-width: 320px) {
    .container .content { padding: 10px 0; }

    .container .competition_form .form_field.half { width: 100%; }

    .container .competition_form .form_field.dob * {
        margin: 5px 0 0 0;
        width: 100%;
    }

    .container .competition_form .form_field.dob *:first-child { margin-top: 0; }

    .container .competition_form .form_field.dob label { margin-bottom: 0; }

    .container .submit_area, .container .tac, .container .social { text-align: center; }
}