﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - Widget_Dash</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index: 4">
    <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>
    <span class="w3-right">Media Widget</span>
</div>
<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="width: 300px; z-index: 3;" id="mySidenav">
    <br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width: 46px">
        </div>
        <div class="w3-col s8">
            <span>Welcome, <strong>Mike</strong></span><br>
            <a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block">
                <i class="fa fa-user"></i>
            </a>
            <a href="#" class="w3-hover-none w3-hover-text-blue w3-show-inline-block">
                <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
    <a href="#" class="w3-padding w3-blue"><i class="fa fa-users fa-fw"></i> Overview</a>
    <a href="#" class="w3-padding"><i class="fa fa-eye fa-fw"></i> Views</a>
    <a href="#" class="w3-padding"><i class="fa fa-users fa-fw"></i> Traffic</a>
    <a href="#" class="w3-padding"><i class="fa fa-bullseye fa-fw"></i> Geo</a>
    <a href="#" class="w3-padding"><i class="fa fa-diamond fa-fw"></i> Orders</a>
    <a href="#" class="w3-padding"><i class="fa fa-bell fa-fw"></i> News</a>
    <a href="#" class="w3-padding"><i class="fa fa-bank fa-fw"></i> General</a>
    <a href="#" class="w3-padding"><i class="fa fa-history fa-fw"></i> History</a>
    <a href="#" class="w3-padding"><i class="fa fa-cog fa-fw"></i> Settings</a><br><br>
</nav>
<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main container body-content" style="margin-left: 300px; margin-top: 43px;">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2016 - Widget_Dash</p>
    </footer>
</div>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script>
    // Get the Sidenav
    var mySidenav = document.getElementById("mySidenav");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidenav, and add overlay effect
    function w3_open() {
        if (mySidenav.style.display === 'block') {
            mySidenav.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidenav.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidenav with the close button
    function w3_close() {
        mySidenav.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>
@RenderSection("scripts", false)
</body>
</html>