﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- Header -->
<header class="w3-container" style="padding-top: 22px">
    <h5>
        <b><i class="fa fa-dashboard"></i> My Dashboard</b>
    </h5>
</header>

<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-comment w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
                <h3>52</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Messages</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-eye w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
                <h3>99</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Views</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-share-alt w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
                <h3>23</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Shares</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-users w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
                <h3>50</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Users</h4>
        </div>
    </div>
</div>

<div class="w3-container w3-section">
    <div class="w3-row-padding" style="margin: 0 -16px">
        <div class="w3-third">
            <h5>Regions</h5>
            <img src="/w3images/region.jpg" style="width: 100%" alt="Google Regional Map">
        </div>
        <div class="w3-twothird">
            <h5>Feeds</h5>
            <table class="w3-table w3-striped w3-white">
                <tr>
                    <td>
                        <i class="fa fa-user w3-blue w3-padding-tiny"></i>
                    </td>
                    <td>New record, over 90 views.</td>
                    <td>
                        <i>10 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-bell w3-red w3-padding-tiny"></i>
                    </td>
                    <td>Database error.</td>
                    <td>
                        <i>15 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-users w3-orange w3-text-white w3-padding-tiny"></i>
                    </td>
                    <td>New record, over 40 users.</td>
                    <td>
                        <i>17 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-comment w3-red w3-padding-tiny"></i>
                    </td>
                    <td>New comments.</td>
                    <td>
                        <i>25 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-bookmark w3-light-blue w3-padding-tiny"></i>
                    </td>
                    <td>Check transactions.</td>
                    <td>
                        <i>28 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-laptop w3-red w3-padding-tiny"></i>
                    </td>
                    <td>CPU overload.</td>
                    <td>
                        <i>35 mins</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-share-alt w3-green w3-padding-tiny"></i>
                    </td>
                    <td>New shares.</td>
                    <td>
                        <i>39 mins</i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-progress-container w3-grey">
        <div id="myBar" class="w3-progressbar w3-green" style="width: 25%">
            <div class="w3-center w3-text-white">+25%</div>
        </div>
    </div>

    <p>New Users</p>
    <div class="w3-progress-container w3-grey">
        <div id="myBar" class="w3-progressbar w3-orange" style="width: 50%">
            <div class="w3-center w3-text-white">50%</div>
        </div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-progress-container w3-grey">
        <div id="myBar" class="w3-progressbar w3-red" style="width: 75%">
            <div class="w3-center w3-text-white">75%</div>
        </div>
    </div>
</div>
<hr>

<div class="w3-container">
    <h5>Countries</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
            <td>United States</td>
            <td>65%</td>
        </tr>
        <tr>
            <td>UK</td>
            <td>15.7%</td>
        </tr>
        <tr>
            <td>Russia</td>
            <td>5.6%</td>
        </tr>
        <tr>
            <td>Spain</td>
            <td>2.1%</td>
        </tr>
        <tr>
            <td>India</td>
            <td>1.9%</td>
        </tr>
        <tr>
            <td>France</td>
            <td>1.5%</td>
        </tr>
    </table><br>
    <button class="w3-btn">More Countries <i class="fa fa-arrow-right"></i></button>
</div>
<hr>
<div class="w3-container">
    <h5>Recent Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
        <li class="w3-padding-16">
            <span onclick="this.parentElement.style.display = 'none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
            <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width: 35px">
            <span class="w3-xlarge">Mike</span><br>
        </li>
        <li class="w3-padding-16">
            <span onclick="this.parentElement.style.display = 'none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
            <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width: 35px">
            <span class="w3-xlarge">Jill</span><br>
        </li>
        <li class="w3-padding-16">
            <span onclick="this.parentElement.style.display = 'none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
            <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width: 35px">
            <span class="w3-xlarge">Jane</span><br>
        </li>
    </ul>
</div>
<hr>

<div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="/w3images/avatar3.png" style="height: 96px; width: 96px;">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="/w3images/avatar1.png" style="height: 96px; width: 96px;">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>
</div>
<br>
<div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
        <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">Demographic</h5>
            <p>Language</p>
            <p>Country</p>
            <p>City</p>
        </div>
        <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">System</h5>
            <p>Browser</p>
            <p>OS</p>
            <p>More</p>
        </div>
        <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">Target</h5>
            <p>Users</p>
            <p>Active</p>
            <p>Geo</p>
            <p>Interests</p>
        </div>
    </div>
</div>


@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@